---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import tvvbestcrowd from "../assets/img/tvvbestcrowd.webp";
import tvvcrowd2 from "../assets/img/tvvcrowd2.webp";
import crowdpic from "../assets/img/crowdpic.webp";
import Profile from "../components/Profile.astro";
import SwiperCarousel from "../components/SwiperCarousel.astro";
import AlbumGallery from "../components/AlbumGallery.astro";
import andy from "../assets/img/andy.jpg";
import katie from "../assets/img/katie.jpg";
import alec from "../assets/img/alec.png";
import { SwiperSlide } from "astro-swiper";
---

<!doctype html>
<html lang="en" class="">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="max-w-6xl mx-auto p-8">
      <section id="home" class="text-center">
        <h2>Welcome to Tootsies Video Vault!</h2>
        <p>
          Tootsie’s Video Vault is an annual short film race organized by
          seasoned comedy film producers, featuring dozens of shorts created by
          local filmmakers!
        </p>

        <Image src={tvvcrowd2} alt="TVV Crowd" class="my-4 w-full" />
      </section>
      <section
        id="how-it-works"
        class="flex flex-col lg:flex-row lg:items-center card"
      >
        <div class="flex flex-col items-start lg:w-1/3">
          <h2>How It Works</h2>
          <ul class="mx-4">
            <li>
              Submit a <strong>free</strong> application with examples of past work.
            </li>
            <li>
              If accepted, participants pay a prize pool fee and get 3 months to
              produce a brand new short film under 3 minutes in length.
            </li>
            <li>
              Attend the premiere and have a blast with prizes, trophies, and a
              great crowd!
            </li>
          </ul>
        </div>
        <div class="lg:flex-1">
          <Image src={crowdpic} alt="TVV Best Crowd" class="my-4 w-auto" />
        </div>
      </section>
      <section id="past-videos">
        <h2 class="text-right">Past Videos</h2>
        <SwiperCarousel>
          <SwiperSlide>
            <!-- /*videos go here*/ -->
          </SwiperSlide>
          <SwiperSlide>
            <!-- /*videos go here*/ -->
          </SwiperSlide>
          <SwiperSlide>
            <!-- /*videos go here*/ -->
          </SwiperSlide>
        </SwiperCarousel>
      </section><section id="photos">
        <h2>BTS Photos</h2>
        <AlbumGallery />
      </section>
      <section id="next-show" class="h-100">
        <h2 class="text-right">Next Show</h2>
        <p>
          lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum
        </p>
      </section>
      <section id="team">
        <h2 class="text-center">The Team</h2>
        <div
          class="team-grid flex flex-col sm:flex-row gap-4 justify-center items-center sm:items-start"
        >
          <Profile
            image={andy}
            blurb="Andy Zou is a producer-director that has been working with comedians all over NYC for the better part of a decade.  He’s done videos for ClickHole, Snapchat, Funny or Die, and spent the last three years at Comedy Central Digital."
            name="Andy Zou"
            link="https://www.andyzou.com/"
          />
          <Profile
            image={katie}
            blurb="Katie Sicking is a writer & director based in NYC. She’s made multiple short films that have been selected for festivals such as WyIFF, Gold Coast, AFF and more. She’s also created short films and digital series for Adult Swim and Comedy Central."
            name="Katie Sicking"
            link="https://www.katiesicking.com/"
          />
          <Profile
            image={alec}
            blurb="Alec Cohen is a comedy director that has been featured by Comedy Central, Adult Swim, Above Average, Slamdance, Stareable, DUST, SeriesFest, NYTVF, MTV.com, Hatched.nyc, The New Yorker, Funny or Die, and more."
            name="Alec Cohen"
            link="https://www.aleccohen.cool/"
          />
        </div>
      </section>
      <Image src={tvvbestcrowd} alt="TVV Best Crowd" class="m-4" />
      <Footer />
    </main>
  </body>
</html>

<style>
  section {
    margin: 0 0 2em 0;
  }

  .team-grid {
    /* display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-auto-rows: 1fr;
    align-items: stretch;
    justify-items: center; */
  }
  Profile {
    margin: 0;
    @apply w-full h-full;
  }

  :global(.team-grid .profile-card) {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .card {
    padding: 1em;
    /* border: 1px solid black; */
    border-radius: 1em;
    background-color: rgb(var(--color-neutral-surface));
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: 2em 0;
  }
</style>
