---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import tvvbestcrowd from "../assets/img/tvvbestcrowd.jpg";
import tvvcrowd2 from "../assets/img/tvvcrowd2.webp";
import crowdpic from "../assets/img/crowdpic.webp";
import prizebelt from "../assets/img/prizebelt.jpg";
import superlatives from "../assets/img/superlatives.jpg";
import trophies from "../assets/img/trophies.jpg";
import ModalImageProvider from "../components/ModalImageProvider.astro";
import AlbumGallery from "../components/AlbumGallery.astro";
import VideoGallery from "../components/VideoGallery.astro";
import andy from "../assets/img/andy.jpg";
import katie from "../assets/img/katie.jpg";
import alec from "../assets/img/alec.png";
import cloud from "../assets/img/WEB_HOW IT WORKS/Cloud.svg";
import tube from "../assets/img/WEB_HOW IT WORKS/Tube.svg";
import box from "../assets/img/WEB_HOW IT WORKS/Box.svg";
import howItWorksBg from "../assets/img/WEB_HOW IT WORKS/Desktop BG 2.svg";
import howItWorksBgMobile from "../assets/img/WEB_HOW IT WORKS/Mobile BG 2.svg";
import doorway from "../assets/img/doorway.png";
import spaghetti from "../assets/img/spaghetti.png";
import film from "../assets/img/film.png";
import vhs from "../assets/img/WEB_SUBMIT/VHS pile.svg";
import buttonPrimary from "../assets/img/WEB_SUBMIT/Button - Primary.svg";
import buttonSecondary from "../assets/img/WEB_SUBMIT/Button - Secondary.svg";
import trophySeal from "../assets/img/WEB_PRIZES/Trophy seal.svg";
import beltSeal from "../assets/img/WEB_PRIZES/Belt seal.svg";
import superlativeSeal from "../assets/img/WEB_PRIZES/Superlative seal.svg";
import prizesBgDesktop from "../assets/img/WEB_PRIZES/Desktop BG 3.svg";
import prizesBgMobile from "../assets/img/WEB_PRIZES/Mobile BG 3.svg";
import videosPhotosBgDesktop from "../assets/img/WEB_VIDEOS PHOTOS/Desktop BG 4.svg";
import videosPhotosBgMobile from "../assets/img/WEB_VIDEOS PHOTOS/Mobile BG 4.svg";
import popcorn from "../assets/img/WEB_VIDEOS PHOTOS/Popcorn.svg";
import { videoGroups } from "../data/videos";
---

<!doctype html>
<html lang="en" class="bg-neutral text-neutral-foreground text-center">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body id="home">
    <Header />
    <main class="w-full">
      <ModalImageProvider />
      <h2 class="text-center mt-8 px-4">Welcome to Tootsies Video Vault!</h2>
      <p class="text-center max-w-4xl mx-auto px-4">
        Tootsie’s Video Vault is an annual short film race organized by seasoned
        comedy film producers, featuring dozens of shorts created by local
        filmmakers!
      </p>
      <div class="overflow-x-hidden flex justify-center">
        <Image
          src={tvvcrowd2}
          alt="TVV Crowd"
          class="my-4 max-w-none w-[125%] md:w-full object-cover"
        />
      </div>
      <section
        id="next-show"
        class="text-center flex flex-col gap-4 items-center"
      >
        <h2>Submit to the next show!</h2>
        <iframe
          class="my-4 aspect-video max-w-5xl mx-auto"
          src="https://www.youtube.com/embed/0AA9RPDUvy4?si=Bge-7VCNURf2Nd6H"
          title="Tootsie's Video Vault 2025"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>

        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSdJ-Uee0B4gFOxfuqjtpuX9i3t1S34HoGQwNvCApZmoQH8aMA/viewform"
          target="_blank"
          class="text-secondary font-bold items-center gap-2 flex flex-col w-full group"
        >
          <Image
            src={vhs}
            alt="Submit Button"
            class="w-full max-w-xl h-auto block transition-transform duration-300 group-hover:-rotate-3"
          />
          <div
            class="relative text-black transition-colors duration-300 group-hover:text-white"
          >
            <Image
              src={buttonPrimary}
              alt="Submit Button"
              class="max-w-sm w-full transition-transform duration-300 group-hover:scale-105"
            />
            <p
              class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 text-nowrap"
            >
              Submission Form here!
            </p>
          </div>
        </a>
        <p>
          Can't make this one?
          <br />Send us an email and get on our mailing list for the next shows!
        </p>
        <a
          href="mailto:tootsiesvideovault@gmail.com"
          class="relative inline-block text-black transition-colors duration-300 group"
        >
          <Image
            src={buttonSecondary}
            alt="Submit Button"
            class="block max-w-sm transition-transform duration-300 group-hover:scale-105"
          />
          <span
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 text-2xl group-hover:text-white"
          >
            TootsiesVideoVault@gmail.com
          </span>
        </a>
      </section>

      <section id="how-it-works" class="space-y-6 how-it-works relative">
        <Image
          src={howItWorksBgMobile}
          alt=""
          class="absolute inset-0 h-full w-full object-cover -z-10 md:hidden"
        />
        <Image
          src={howItWorksBg}
          alt=""
          class="absolute inset-0 h-full w-full object-cover -z-10 hidden md:block"
        />
        <h2 class="text-center">How It Works</h2>
        <div class="how-it-works__row">
          <Image
            src={cloud}
            alt="Submit a FREE application form"
            class="how-it-works__frame how-it-works__frame--right"
          />
          <Image
            src={tube}
            alt="Make a brand new 3 minute short"
            class="how-it-works__frame how-it-works__frame--left how-it-works__frame--tall"
          />
          <Image
            src={box}
            alt="Attend the premiere and have a blast with prizes and a great crowd!"
            class="how-it-works__frame how-it-works__frame--right"
          />
        </div>
      </section>
      <Image src={crowdpic} alt="TVV Best Crowd" class="my-4 w-full" />
      <section id="
            prizes" class="prizes-section">
        <h2 class="text-center">Prizes!</h2>
        <div class="prizes-grid">
          <div class="prize-card">
            <div class="prize-media">
              <Image
                src={trophies}
                alt="Tootsie's Video Vault trophies on a table"
                class="prize-image"
                loading="lazy"
                data-modal-image
                data-modal-full={trophies.src}
              />
              <Image
                src={trophySeal}
                alt=""
                class="prize-seal"
                loading="lazy"
              />
            </div>
          </div>
          <div class="prize-card">
            <div class="prize-media">
              <Image
                src={prizebelt}
                alt="Winners posing with the Tootsie's Video Vault championship belt"
                class="prize-image"
                loading="lazy"
                data-modal-image
                data-modal-full={prizebelt.src}
              />
              <Image src={beltSeal} alt="" class="prize-seal" loading="lazy" />
            </div>
          </div>
          <div class="prize-card">
            <div class="prize-media">
              <Image
                src={superlatives}
                alt="Winners holding a best dressed award"
                class="prize-image"
                loading="lazy"
                data-modal-image
                data-modal-full={superlatives.src}
              />
              <Image
                src={superlativeSeal}
                alt=""
                class="prize-seal"
                loading="lazy"
              />
            </div>
          </div>
        </div>
        <Image
          src={prizesBgMobile}
          alt=""
          class="prizes-bg prizes-bg--mobile"
          loading="lazy"
        />
        <Image
          src={prizesBgDesktop}
          alt=""
          class="prizes-bg prizes-bg--desktop"
          loading="lazy"
        />
      </section>
      <section id="past-videos">
        <h2 class="text-center">Featured Videos</h2>
        <VideoGallery groups={videoGroups} />
      </section>

      <div class="videos-photos-bg">
        <Image
          src={videosPhotosBgMobile}
          alt=""
          class="videos-photos-bg__mobile"
          loading="lazy"
        />
        <Image
          src={videosPhotosBgDesktop}
          alt=""
          class="videos-photos-bg__desktop"
          loading="lazy"
        />
        <Image
          src={popcorn}
          alt=""
          class="videos-photos-popcorn"
          loading="lazy"
        />
      </div>

      <section id="photos">
        <h2 class="text-center">BTS Photos</h2>
        <AlbumGallery />
      </section>

      <section id="team">
        <h2 class="text-center">The Team</h2>
        <div class="flex justify-center md:flex-row flex-col items-center">
          <div class="team-grid__item">
            <div class="team-profile">
              <Image
                src={doorway}
                alt="Doorway"
                class="team-profile__bg scale-x-[-1]"
              />
              <h4 class="team-profile__name">
                <a
                  href="https://www.andyzou.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="team-profile__link"
                >
                  Andy Zou
                </a>
              </h4>
              <Image src={andy} alt="Andy Zou" class="team-profile__portrait" />
            </div>
            <p class="team-profile__blurb">
              Andy Zou is a producer-director that has been working with
              comedians all over NYC for the better part of a decade. He's done
              videos for ClickHole, Snapchat, Funny or Die, and spent the last
              three years at Comedy Central Digital.
            </p>
          </div>

          <div class="team-grid__item">
            <div class="team-profile">
              <Image src={film} alt="Film" class="team-profile__bg" />
              <h4 class="team-profile__name">
                <a
                  href="https://www.katiesicking.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="team-profile__link"
                >
                  Katie Sicking
                </a>
              </h4>
              <Image
                src={katie}
                alt="Katie Sicking"
                class="team-profile__portrait"
              />
            </div>
            <p class="team-profile__blurb">
              Katie Sicking is a writer & director based in NYC. She's made
              multiple short films that have been selected for festivals such as
              WyIFF, Gold Coast, AFF and more. She's also created short films
              and digital series for Adult Swim and Comedy Central.
            </p>
          </div>

          <div class="team-grid__item">
            <div class="team-profile">
              <Image
                src={spaghetti}
                alt="Spaghetti"
                class="absolute bottom-0 translate-y-1/2 z-0"
              />
              <h4 class="team-profile__name">
                <a
                  href="https://www.aleccohen.cool/"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="team-profile__link"
                >
                  Alec Cohen
                </a>
              </h4>
              <Image
                src={alec}
                alt="Alec Cohen"
                class="team-profile__portrait brightness-200 -z-10"
              />
            </div>
            <p class="team-profile__blurb">
              Alec Cohen is a comedy director that has been featured by Comedy
              Central, Adult Swim, Above Average, Slamdance, Stareable, DUST,
              SeriesFest, NYTVF, MTV.com, Hatched.nyc, The New Yorker, Funny or
              Die, and more.
            </p>
          </div>
        </div>
      </section>
    </main>
    <Image src={tvvbestcrowd} alt="TVV Best Crowd" class="mt-4 w-full" />

    <Footer />

    <style>
      section {
        margin: 2em 0;
        /* background-color: var(--color-neutral-foreground); */
        /* border: 4px solid var(--color-neutral-foreground);
    border-radius: 1em; */
        /* color: black; */
        /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
      }

      p {
        font-size: 1.5rem;
      }

      .how-it-works__row {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        align-items: center;
        justify-content: space-around;
      }

      .how-it-works__frame {
        width: 66.6667%;
      }

      .how-it-works__frame--right {
        align-self: flex-end;
      }

      .how-it-works__frame--left {
        align-self: flex-start;
      }

      .how-it-works__frame--tall {
        width: 100%;
      }

      @media (min-width: 768px) {
        .how-it-works__row {
          flex-direction: row;
          gap: 1rem;
          align-items: flex-start;
          width: 100%;
          padding: 0 1rem;
        }

        .how-it-works__frame {
          min-width: 0;
          max-width: 100%;
          flex: 1 1 0;
          height: auto;
        }

        .how-it-works__frame--tall {
          padding-left: 5%;
          flex: 1 1 15%;
        }

        .how-it-works__frame--right,
        .how-it-works__frame--left {
          align-self: auto;
        }
      }
      .team-grid__item {
        position: relative;
        display: inline-block;
        flex: 1;
        max-width: 75%;
        margin: 1rem;
      }

      .team-profile__bg {
        position: absolute;
        z-index: -1;
        bottom: 0;
      }

      .team-profile {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: center;
        border-radius: 1rem;
        box-shadow: var(--box-shadow);
        color: var(--color-neutral-foreground);
        flex: 1;
      }

      .team-profile__name {
        font-size: 1.5rem;
        font-family: "Atelia";
        margin: 0;
      }

      .team-profile__portrait {
        margin: 0;
        aspect-ratio: 1 / 1;
        display: block;
        overflow: hidden;
        border-radius: 50%;
        width: 75%;
      }

      .team-profile__portrait img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .team-profile__blurb {
        z-index: 5;
        position: relative;
        text-align: justify;
        margin: 3rem 0 0;
        font-size: 1rem;
        background-color: var(--color-neutral);
      }

      .prizes-section {
        position: relative;
        width: 100%;
      }

      .prizes-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        position: relative;
        z-index: 1;
        padding: 0 1.5rem;
        gap: 1.5rem;
        padding-bottom: 15%;
      }

      .prizes-bg {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        z-index: -1;
        pointer-events: none;
      }

      .prizes-bg--desktop {
        display: block;
        transform: translate(0, 20%);
      }

      .prizes-bg--mobile {
        display: none;
        width: 100%;
        max-width: none;
        object-fit: cover;
        transform: translate(0, 15%);
      }

      .prize-card {
        position: relative;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10%;
      }

      .prize-media {
        position: relative;
        width: 100%;
      }

      .prize-image {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 0.5rem;
      }

      .prize-seal {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, 120%);
        height: 75%;
        z-index: 10;
      }

      .videos-photos-bg {
        width: 100%;
        margin-top: -3rem;
        margin-bottom: -8rem;
        z-index: -1;
        position: relative;
      }

      .videos-photos-bg__desktop,
      .videos-photos-bg__mobile {
        display: block;
        width: 100%;
        height: auto;
      }

      .videos-photos-bg__desktop {
        display: none;
        height: 601px;
        object-fit: cover;
      }

      .videos-photos-popcorn {
        position: absolute;
        left: 0;
        top: 0;
        width: 30%;
        height: auto;
        z-index: 1;
        pointer-events: none;
      }

      @media (max-width: 768px) {
        /* Mobile */
        .prizes-grid {
          flex-direction: column;
          align-items: center;
        }
        .prize-card {
          padding-top: 50%;
          padding-bottom: 0;
        }
        .prize-seal {
          transform: translate(-50%, -90%);
        }

        .prizes-bg--desktop {
          display: none;
        }

        .prizes-bg--mobile {
          display: block;
        }
      }

      @media (min-width: 768px) {
        .videos-photos-bg__desktop {
          display: block;
        }

        .videos-photos-bg__mobile {
          display: none;
        }
      }

      @media (min-width: 1920px) {
        .videos-photos-bg__desktop {
          height: auto;
          object-fit: unset;
        }
      }

      figcaption {
        text-align: center;
      }

      .how-it-works__list {
        list-style: none;
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }

      .how-it-works__item {
        flex: 1;
      }
    </style>
  </body>
</html>
